<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>aiss.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FacebookAuthController</display-name>
    <servlet-name>FacebookAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Facebook</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacebookAuthController</servlet-name>
    <url-pattern>/AuthController/Facebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacebookAuth2Callback</display-name>
    <servlet-name>FacebookOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Facebook</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/facebookFriendsListing</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacebookOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Facebook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMoviesController</display-name>
    <servlet-name>SearchMoviesController</servlet-name>
    <servlet-class>aiss.SearchMoviesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMoviesController</servlet-name>
    <url-pattern>/SearchMoviesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeliculasActualesSearchController</display-name>
    <servlet-name>PeliculasActualesSearchController</servlet-name>
    <servlet-class>aiss.PeliculasActualesSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeliculasActualesSearchController</servlet-name>
    <url-pattern>/PeliculasActualesSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoController</display-name>
    <servlet-name>InfoController</servlet-name>
    <servlet-class>aiss.InfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoController</servlet-name>
    <url-pattern>/InfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlacesSearchController</display-name>
    <servlet-name>PlacesSearchController</servlet-name>
    <servlet-class>aiss.PlacesSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacesSearchController</servlet-name>
    <url-pattern>/PlacesSearchController</url-pattern>
  </servlet-mapping>
</web-app>